[Unit]
Description=Riku Nginx Config Monitor
Documentation=https://github.com/dreygur/riku

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload nginx

[Install]
WantedBy=multi-user.target
