server {
  listen              $NGINX_IPV4_ADDRESS:80;
  listen              $NGINX_IPV6_ADDRESS:80;
  server_name         $NGINX_SERVER_NAME;

  location ^~ /.well-known/acme-challenge {
    allow all;
    root ${ACME_WWW};
  }

  location / {
    return 426;
  }
}
